# Entornos virtuales
venv/
env/
ENV/
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de base de datos locales
*.sqlite3

# Archivos de configuración de VSCode
.vscode/

# Archivos de entorno (si usás .env para variables secretas)
.env

# Archivos de log
*.log

# Archivos generados por Render
# render.yaml

# Archivos del sistema
.DS_Store
Thumbs.db

/staticfiles/
staticfiles/
