# Entorno virtual
venv/
.env
*.env

# Archivos de Python compilados
__pycache__/
*.py[cod]

# Archivos de configuración y base de datos local
*.sqlite3

# Archivos de logs
*.log

# Archivos del editor
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de despliegue opcionales
*.bak
*.swp
*.swo
